@media screen and (max-width: 900px) {
    .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    
        
    footer {
        margin-top: 25px;
    }
}