@import url('https://fonts.googleapis.com/css2?family=Atma:wght@600;700&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;1,300&family=Oswald:wght@300;400&family=Roboto:wght@100;400&display=swap');

/* font-family: 'Atma', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none !important;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    
  }

header {
    display: grid;
    grid-template-columns: 270px 100px;
}

#menu-btn {
    grid-column: 2;
    color: #40B93C;
    
}
.nav {
    display: none;
    
    font-size: 50px;
    top: 79%;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 0;

}

.active {
    display: flex;
    flex-direction: column;
}

.nav-item{
    color: #40B93C;
    background-color: white;
    
}

.background {
   display: none;
}

.fa-bars, .fa-times {
    width: 100px;
}

.hidden {
    display: none;
}