@import url('https://fonts.googleapis.com/css2?family=Atma:wght@600;700&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;1,300&family=Oswald:wght@300;400&family=Roboto:wght@100;400&display=swap');

/* font-family: 'Atma', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */

